# App
SERVER_PORT=8081
JWT_SECRET=replace_with_a_secure_secret

# Database
DB_DRIVER=postgres
DB_SOURCE=postgres://<db_user>:<db_password>@localhost:5432/gopher_paste?sslmode=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=<redis_password>
REDIS_DB=0
